@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;700&display=swap");

body {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  background: #f6f6f6;
  min-width: 320px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --color-primary: #331c20;
  --color-dark-redbrown: #331c20;
  --color-light-beige: #f6f6f6;
  --color-beige: #f0eeee;
  --color-middle-brown: #5c3e42;
  --color-blue: #bfd9e3;
  --color-blue-gray: #b0a3a8;
  --color-dusty-blue: #dce5ec;
  --color-style: #2d9cdb;
  --color-green: #28a745;
  --color-pale-pink: #dfb6b0;
  --color-pink: #ea7386;
  --color-rad: #e41819;
  --color-black: #232323;
  --color-white: #ffffff;
  --color-dpo-primary: #178eea;
  --color-dpo-secondary: #ff8089;
  --color-dpo-tertiary: #eff095;
  --color-dpo-dark: #132c40;
  --color-dpo-pastel: #cddae4;
  --color-dpo-light: #fdfdfd;
  --color-dpo-background: #f4f8fb;
  --shadow: 0px 4px 30px rgba(51, 28, 32, 0.08);
}

.search-wrapper {
  margin-top: 60px;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.body {
  margin-top: 80px;
}

@media (max-width: 767px) {
  .search-wrapper {
    margin-top: 60px;
    flex-direction: column;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #eee;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border: 0 none #fff;
  background-color: #49555e;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #333b41;
}
