.new-post__container {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-post__container .item-add-form h2 {
  margin-bottom: 20px;
}

.form__label {
  margin: 0 0 0 20px;
}
.form-item .form-control {
  width: 100%;
}
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
